.projects-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: transparent;
  gap: 5rem;
  margin-bottom: 3vh;
}

