.title-projects {
  background: var(--gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: transparent;

  font-size: 72px;
  text-align: left;
}

.title-projects-wrapper {
  position: relative;
  width: 100%;
  margin-top: 6rem;
  background-color: transparent;
}

/* linha idêntica à do header */
.title-projects-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  background-color: transparent;

  width: 100%;
  height: 2px;
  z-index: 999;

  background-image: linear-gradient(
    90deg,
    transparent,
    #6300b2,
    #930dc2,
    #ff0000,
    transparent
  );
}
