.list-item {
  color: white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background-color: transparent;
}

.list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;

  background-image: var(--gradient);

transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover::after {
  width: 100%;
}
