.list-item {
  color: white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;

  background-image: linear-gradient(
    90deg,
    #6300b2,
    #930dc2,
    #ff0000
  );

transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover::after {
  width: 100%;
}
