@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "KoHo", sans-serif;
  color: white;
}

:root {
  --gradient: linear-gradient(90deg, #6300b2, #930dc2, #ff0000);
}


#root {
  position: relative;
  z-index: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  scroll-behavior: smooth;
}